* {
  background-color: #240c16;
  color: #f0efa8;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

main {
  width: 90%;
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;       
  align-items: center;
  justify-content: center;
  gap: 20px;
}

nav ul {
  display: flex;       
  justify-content: space-around;
  list-style: none;   
  padding: 2rem;
  margin: 0;
}

nav ul li {
  font-size: 1.25rem;
  letter-spacing: 2px;
}

#intro {
  margin-bottom: 2rem;
}

img {
  max-width: 40rem;
}

a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 100;
  font-family: "Roboto Mono", monospace;
}

h2, h3, h4 {
  font-size: 2rem;
  font-family: "Xanh Mono", monospace;
  font-weight: 150;
}

h1 {
  font-size: 3rem;
  letter-spacing: .8rem;
  font-style: italic;
  font-family: "Xanh Mono", monospace;
  font-weight: 200;
}

p {
  font-family: "Roboto Mono", monospace;
}
