body {
  font-family: "Roboto Mono", monospace;
  background-color: #000000;
  color: #ffffff;
  margin: 0;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  margin-bottom: 20rem;
  margin-top: 5rem;
}

main {
  width: 100%;
  max-width: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  display: flex;       
  align-items: center;
  justify-content: center;
  gap: 20px;
}

nav ul {
  display: flex;       
  list-style: none;
  justify-content: space-around;
  padding: 0;
  gap: 2rem;
  align-items: center;
}

nav ul li {
  font-size: 1.25rem;
  letter-spacing: 2px;
}

li {
  list-style: none;
}

nav {
  margin-bottom: 2rem;
}

video {
  max-width: 50rem;
  padding: 4rem 0 2rem 0;
}

#content {
  text-align: left;
  padding: .6rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#content article {
  padding: 2rem;
}

#gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  gap: 2rem;
  padding: 3rem;
}

#gallery a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  overflow: hidden; 
  align-items: center;
  transition: transform 0.2s ease;
}

#gallery a:hover {
  transform: translateY(-5px);
}

.gallery-img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;  
  padding: 2rem;
}

#gallery p {
  margin: 0;
  flex-grow: 1;
  display: flex;
  align-items: center;
}

/* protein specific */
.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
    gap: 1.25rem;
    margin: 0 auto;
}

.gallery-item {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
}

.gallery-item p {
    padding: 0 1rem;
    margin: 0.5rem 0;
    font-size: 0.9rem;
}

.gallery-item p:last-child {
    margin-bottom: 1rem;
}

.data {
  padding-top: 3rem;
}

.data p {
    padding: 0 1rem;
    margin: 0.5rem 0;
    font-size: 0.9rem;
}

.data img {
  width: 30rem;
  height: auto;
  display: block;
  padding: 1rem;
}

.command-section {
  max-width: 45rem;
  margin: 2rem auto;
  line-height: 1.6;
}

.command-section h2 {
  padding-bottom: 1rem;
  padding-top: 2rem;
}

.command-section h3 {
  margin-top: 3rem;
}

pre {
  border: 1px white;
  padding: 1.5rem;
  overflow-x: auto;
}

a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 100;
  font-family: "Roboto Mono", monospace;
}

h2, h3, h4 {
  font-size: 2rem;
  font-weight: 150;
}

h1, h2 {
  letter-spacing: .5rem;
}

h1 {
  font-size: 3rem;
  letter-spacing: .8rem;
  font-weight: 200;
}

